/* 공통 css */
header, main, footer {min-width: 900px; padding: 0 100px;}
body, html {scroll-behavior: smooth;}
main > section {padding-top: 150px;}
/* header */
header {
    width: 100%;
    position: fixed; 
    top: 0; left: 0; z-index: 999;
    padding: 40px 100px 0;
    background-color: rgba(10, 56, 107, 0.2);
    backdrop-filter: blur(10px);
    transition: padding 0.3s;
}
header .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb h1 {padding: 20px 0;}
header .gnb h1 .scroll {font-weight: 700; font-size: 1.563rem; padding: 20px 0;}
header .gnb p {font-size: 1.563rem; color: #B2B1B9;}
header .gnb nav {display: flex;}
header .gnb nav .scroll {font-size: 1.4rem; color: #aeadb6; padding: 20px; transition: all 0.3s;}
header .gnb nav .scroll:hover {color: rgb(123, 117, 214);}
header .gnb nav .scroll:hover::after {width: 100%;}
header .gnb nav .scroll.active {font-weight: 700; color:#000; transition: all 0.5s;}
header .gnb nav .scroll.active::after {width: 100%;}
header .gnb nav .scroll::after {
    content: ''; width: 0; height: 3.5px; background-color: #ffffff; display: block;
    margin-top: 4px;  transition: all 0.5s;
}
/* 모바일 메뉴 */
header .open_nav {
    display: none;
    transition: all 0.3s;
    position: relative;
    width: 30px; height: 30px;
}
header .open_nav span {
    background-color: #000; width: 30px; height: 3px;
    position: absolute;
    right: 0;
}
header .open_nav span:nth-child(1) {
    -webkit-transition:  -webkit-transform .3s;
    transition: transform .3s; top: 0;
}
header .open_nav span:nth-child(2) {top:10px;}
header .open_nav span:nth-child(3) {
    -webkit-transition:  -webkit-transform .3s;
    transition: transform .3s; top:20px;
}
header .m_nav_open {
    transform: translateX(500px);
    position: absolute;
    right: 0; top:110px;
    background-color: rgba(10, 56, 107, 0.05);
    height: 100vh;
    width: 300px;
    transition: all 0.3s;
    z-index: 200;
}
header .m_nav_open.active {transform: translateX(0);}
header .m_nav_open a {
    display: flex; flex-flow:column nowrap; padding: 30px;
    font-size: 1.25rem;
}
/* main */
main {}
/* #home */
main #home {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}
main #home .title {padding-top: 400px;padding-left: 50px;}
main #home .title h1 {padding-left: 15px; font-size: 2.5rem; line-height: 50px; font-weight: 700;}
main #home .title h1 span {font-size: 2.5rem; font-weight: 700;}
main #home .title p {margin-top: 35px;}
main #home .title p img {}
/* #profile */
main #profile {padding-left: 50px;}
main #profile h1 {font-size: 2.4rem; font-weight: 700; line-height: 50px;}
main #profile h1 em {font-size: 2.5rem; font-weight: 700; color: rgb(96, 90, 177);}
main #profile .container {
    display: flex; 
    margin-top: 100px;
    justify-content:space-between;
}
main #profile .container .profile_photo {}
main #profile .container .profile_photo img {
    width: calc(80% - 10px / 2);
    height: calc(80% -10px/2);
    display: block;}
main #profile .container .info {
    display: flex; flex-flow:column wrap;
    height: 580px; width: 100%;
    align-items: flex-end;
}
main #profile .container .info li {
    margin-bottom: 30px; width: 40%;
    margin-right: 60px;
}
main #profile .container .info li h2 {padding-bottom: 15px ; font-size: 1.5rem; line-height: 40px; font-weight: 700;}
main #profile .container .info li h2::before {
    display: inline-block; content: '';
    background-color: #000; width: 5px; height: 20px;
    margin-right: 10px;
}
main #profile .container .info li:first-child h2::before {display: none;}
main #profile .container .info li:first-child p {font-size: 1.1rem;}
main #profile .container .info li p {font-size: 1.1rem; line-height: 40px;}
/* title 공통 css */
main section .sub_title { padding: 70px 0; text-align: center;}
main section .sub_title h1 {font-size: 2.5rem; font-weight: 700;}

/* #portfolio */
main #portfolio {padding-left: 50px;}
main #portfolio .sub_title {}
main #portfolio .sub_title h1 {}
main #portfolio .container {}
main #portfolio .container .contents .title {}
main #portfolio .container .contents .title h2 {font-size: 1.953rem; font-weight: 700;}
main #portfolio .container .contents {
    padding: 50px 0;
    display: flex; flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 20px; gap:20px;
}
main #portfolio .container .contents .image {display: flex; flex-flow: row wrap; gap: 40px; padding: 30px;}
main #portfolio .container .contents .image .aw{
    width: calc(25% - 10px / 4);
    display: block;
    padding-bottom: 30px;
}
main #portfolio .container .contents .image h2 {padding-left: 50px; padding-bottom: 15px ; font-size: 1.5rem; line-height: 40px; font-weight: 700;}
main #portfolio .container .contents .image p {font-size: 1.1rem; line-height: 40px;}
main #portfolio .contents .image img {width: 100%;}
/* #etc */
main #etc {position: relative; padding-bottom: 50px;padding-left: 50px;}
main #etc .etc_slide {}
main #etc .etc_slide .swiper-wrapper {}
main #etc .etc_slide .swiper-wrapper .swiper-slide {position: relative;}
main #etc .etc_slide .swiper-wrapper .swiper-slide a {display: block; width: 100%; height: 300px;}
main #etc .etc_slide .swiper-wrapper .swiper-slide a img {width: 100%;}
main #etc .etc_slide .swiper-wrapper .swiper-slide:hover .txt {bottom: 0;}
main #etc .etc_slide .swiper-wrapper .swiper-slide .txt {
    padding: 20px; position: absolute;
    bottom: -100px; left: 0; background-color: rgba(255,255,255,0.5); 
    width: 100%;
    transition: all 0.3s;
    pointer-events: none;
}
main #etc .etc_slide .swiper-wrapper .swiper-slide h2 {font-size: 1.25rem; font-weight: 700; margin-bottom: 20px;}
main #etc .etc_slide .swiper-button-prev::after,
main #etc .etc_slide .swiper-button-next::after {display: none}
main #etc .etc_slide .swiper-button-prev,
main #etc .etc_slide .swiper-button-next {background: no-repeat center;}
main #etc .etc_slide .swiper-button-prev {background-image: url(../images/navigate_prev.png);}
main #etc .etc_slide .swiper-button-next {background-image: url(../images/navigate_next.png);}
main #etc .etc_slide .swiper-wrapper  {}
main #etc .swiper-pagination {bottom:0;}
main #etc .swiper-pagination-bullet {transition: all 0.3s;}
main #etc .swiper-pagination-bullet-active {background-color: #FFD523; width: 20px; border-radius: 10px;}

/* footer */
footer {text-align: center; padding: 70px 0;}
footer .title {display: flex; justify-content: center; align-items: center;}
footer span {
    height: 1px; width: 750px;
    background-color: #000;
}
footer h2 {font-family: 'Yeseva One', cursive; font-size: 1.953rem; padding: 40px 20px;}
footer .instar {font-size: 1.1rem; margin-bottom: 50px;}
footer p {font-size: 1.25rem; line-height: 40px; margin-bottom: 70px;}
footer address {line-height: 30px;}
/* animation */
@keyframes scroll_move {
    0% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}